<!DOCTYPE html>
<html lang="ru">
  <head>    
  </head>
  <body>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <header>
     <nav class="navbar navbar-light" style="background-color: lightskyblue">
        <div class="container">
          <a class="navbar-brand" href="{% url 'blog:index' %}">
            <img src="{% static 'img/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
            Блогикум
          </a>        
          <ul class="nav  nav-pills">
            <li class="nav-item">
              {%if '/' == request.path %}
              <a class="nav-link active" href="{% url 'blog:index' %}">
                Лента записей
              </a>
              {%else%}
              <a class="nav-link" href="{% url 'blog:index' %}">
                Лента записей
              </a>
              {%endif%}
            </li>
            <li class="nav-item">
              {%if 'about' in request.path %}
              <a class="nav-link active" href="{% url 'pages:about' %}">
                О проекте
              </a>
              {%else%}
              <a class="nav-link" href="{% url 'pages:about' %}">
                О проекте
              </a>
              {%endif%}
            </li>
            <li class="nav-item">
              {%if 'rules' in request.path %}
              <a class="nav-link active" href="{% url 'pages:rules' %}">
                Наши правила
              </a>
              {%else%}
              <a class="nav-link" href="{% url 'pages:rules' %}">
                Наши правила
              </a>
              {%endif%}
          </ul>      
        </div>
      </nav> 
    </header>
  </body>
</html>